<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clients Complaints</title>
    <link rel="icon" th:href="@{/images/logo.png}" >
    <link rel="stylesheet" th:href="@{/css/clientscomplaints.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


</head>
<body>
<header th:replace="fragments/headerFragment :: head " ></header>



<form th:action="@{/clientscomplaints}"  method="post"  id="changeStatusForm">
    <div class="form-group">

        <select class="custom-select my-1 mr-sm-2" aria-label="Default select example" name="status">

            <option selected value="all" th:if="${selected == 'all'}">All</option>
            <option  value="all" th:unless="${selected == 'all'}">All</option>

            <option value="pending" selected  th:if="${selected == 'pending'}">Pending</option>
            <option value="pending"   th:unless="${selected == 'pending'}">Pending</option>

            <option value="resolution" selected  th:if="${selected == 'resolution'}">Resolution</option>
            <option value="resolution"   th:unless="${selected == 'resolution'}">Resolution</option>

            <option value="dismissed" selected  th:if="${selected == 'dismissed'}">Dismissed</option>
            <option value="dismissed"   th:unless="${selected == 'dismissed'}">Dismissed</option>

        </select>


        <button type="submit" class="btn btn-outline-success" >Show</button>
    </div>
</form>

<div class="row" >
    <div th:each="complaint : ${complaints}" class="card" >
        <div th:text="${complaint.getContent()}" class="card-body"></div>
        
        <div th:text="${complaint.getStatus()}" class="card-footer" ></div>
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#statusModal">Change Status</button>
    </div>
    </div>



<div class="modal" id="statusModal" >
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form th:action="@{/complaints}"  method="post" >
                    <div class="form-group">
<!--                        <div class="form-check">-->
<!--                            <input class="form-check-input" type="radio" id="pending" name="status" value="pending">-->
<!--                            <label class="form-check-label" for="pending">-->
<!--                                pending-->
<!--                            </label>-->
<!--                          </div>-->
<!--                          <br>-->
                          <div class="form-check">
                            <input class="form-check-input" type="radio" id="resolution" name="status" value="resolution">
                            <label class="form-check-label" for="resolution">
                                resolution
                            </label>
                          </div>
                          <br>
                        
                          <div class="form-check">
                            <input class="form-check-input" type="radio" id="dismissed" name="status" value="dismissed">
                            <label class="form-check-label" for="dismissed">
                                dismissed
                            </label>
                          </div>
                          <br>

                        <button type="submit" class="btn btn-outline-success" >Change Status</button>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<footer th:replace="fragments/footerFragment :: footer"></footer>


</body>
</html>