<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clients Complaints</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


</head>
<body>
<header th:replace="fragments/headerFragment :: head " ></header>



<form th:action="@{/clientscomplaints}"  method="post" style="position: relative;margin-left: 35%;margin-top: 3rem;">
    <div class="form-group">

        <select class="custom-select my-1 mr-sm-2" aria-label="Default select example" name="status" style="width: 20rem;">

            <option selected value="all" th:if="${selected == 'all'}">All</option>
            <option  value="all" th:unless="${selected == 'all'}">All</option>

            <option value="pending" selected  th:if="${selected == 'pending'}">Pending</option>
            <option value="pending"   th:unless="${selected == 'pending'}">Pending</option>

            <option value="resolution" selected  th:if="${selected == 'resolution'}">Resolution</option>
            <option value="resolution"   th:unless="${selected == 'resolution'}">Resolution</option>

            <option value="dismissed" selected  th:if="${selected == 'dismissed'}">Dismissed</option>
            <option value="dismissed"   th:unless="${selected == 'dismissed'}">Dismissed</option>

        </select>


        <button type="submit" class="btn btn-outline-success" >Show</button>
    </div>
</form>

<div class="row">
    <div th:each="complaint : ${complaints}" class="card" style="width: 30rem;margin-top:7rem;margin-left: 7rem;">
        <div th:text="${complaint.getContent()}" class="card-body"></div>
        
        <div th:text="${complaint.getStatus()}" class="card-footer" ></div>
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#statusModal">Change Status</button>
    </div>
    </div>

    <canvas id="myChart" style="width: 100%;
    max-width: 600px;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5rem;"></canvas>


<div class="modal" id="statusModal" >
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form th:action="@{/complaints}"  method="post" >
                    <div class="form-group">
<!--                        <div class="form-check">-->
<!--                            <input class="form-check-input" type="radio" id="pending" name="status" value="pending">-->
<!--                            <label class="form-check-label" for="pending">-->
<!--                                pending-->
<!--                            </label>-->
<!--                          </div>-->
<!--                          <br>-->
                          <div class="form-check">
                            <input class="form-check-input" type="radio" id="resolution" name="status" value="resolution">
                            <label class="form-check-label" for="resolution">
                                resolution
                            </label>
                          </div>
                          <br>
                        
                          <div class="form-check">
                            <input class="form-check-input" type="radio" id="dismissed" name="status" value="dismissed">
                            <label class="form-check-label" for="dismissed">
                                dismissed
                            </label>
                          </div>
                          <br>

                        <button type="submit" class="btn btn-outline-success" >Change Status</button>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<footer th:replace="fragments/footerFragment :: footer"></footer>


<script >
    let pending = [[${pending}]];
    let resolution = [[${resolution}]];
    let dismissed = [[${dismissed}]];

    var xValues = ["Resolution", "Dismissed", "Pending"];
    var yValues = [resolution, dismissed, pending];
    var barColors = ["red", "green","blue"];

   

    var number = [[${pending}]];
    var message1 = "[[${dismissed}]]";
    console.log(number);
    console.log(message1)



    
    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        title: {
          display: true,
          text: "World Wine Production 2018"
        }
      }
    });
    </script>

</body>
</html>