<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>NUTRIYUMMY</title>
</head>
<body>

<header th:replace="fragments/headerFragment :: head" >

</header>


<!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQufUaSEkEsITbtZK0ENwcIvR_ZmPI8PkOtvw&usqp=CAU" alt="" width="100%" height="30rem" /> -->

<div id="bg" style="background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;width:100% ;height: 35rem;" >
<div id="title"  style="position: absolute;
left: 50%;
top: 50%;
transform: translate(-50% , -50%);
color: black;
width: auto;
overflow-wrap: anywhere;">
Welcome to NUTRIYUMMY Complaint Management System
</div>
</div>

</body>
</html>