<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

<header th:replace="fragments/headerFragment :: head " ></header>

<div id="container" style="position: relative;margin-top: 8%;" >
    <form th:action="@{/login}" method="post" style="    width: 29rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 4rem;
    background: #e5ece3bf;
    border-radius: 3rem;
">
        <div class="form-group">
        <input type="text" id="login"  name="username" placeholder="login" class="form-control" required/>
        <br>
        <input type="password" id="password"  name="password" placeholder="password" class="form-control" required/>
        <br>
        <button type="submit" class="btn btn-outline-success" >Log In</button>
        </div>
    </form>
</div>

<footer th:replace="fragments/footerFragment :: footer"></footer>


</body>
</html>